body {
    font-family: Arial, sans-serif;
    background-color: #505050;
    margin: 0;
    padding: 0;
}

h1 {
    color: black;
    text-align: center;
    padding: 20px;
}

h4{
    color: black;
}

p {
    text-align: center;
    color: black;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.column {
    flex: 1;
    margin: 10px;
    padding: 20px;
    background-color: #505050;
    border: 4px black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

ul {
    list-style-type: none; /* Removes bullet points */
    padding: 0; /* Removes default padding */
}

li {
    margin: 10px 0;
}

a {
    color: green;
}